* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Regular';
  src: url(../src/assets/Century\ Gothic\ Std\ Regular.otf);
}

@font-face {
  font-family: 'Bold';
  src: url(../src/assets/Century\ Gothic\ Std\ Bold.otf);
}


.container-global {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(130, 178, 221);
}

.container {
  display: flex;
  flex-direction: column;
  width: 900px;
  height: auto;
  background-color: #FEFEFE;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  padding-left: 20px;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  background-color: #419b44;
  border: 1px solid #FEFEFE;
  color: #FEFEFE;
  transition: 0.3s;
  opacity: 0.7;
  font-size: 15px;
  text-decoration: none;
  font-family: 'Bold';
}

.add:hover {
  opacity: 1;
  transform: scale(1.05);
  cursor: pointer;
}
.table {
  display: flex;
  flex-direction: column;
  width: 98%;
  padding-left: 2px;
  margin-top: 40px;
}

.table th  {
  font-family: 'Bold';
  font-size: 20px;
  padding-right: 170px;
}

thead {
  border-bottom: 2px solid black;
}


.container-ligne {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid black;
}


tbody {
  display: flex;
  flex-direction: column;
  width: 98%;
  margin-top: 20px;
  font-size: 20px;
  padding-bottom: 20px;
  
}

.cellule {
  flex: 1;
  text-align: left;
  padding: 0 10px;
  font-family: 'Regular';
  font-size: 15px;
  color: black;
}

.container-edit {
  display: flex;
  flex-direction: row;
  margin-left: 200px;
}
.container-edit button {
  margin-right: 10px;
  width: 60px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #FEFEFE;
  color: #FEFEFE;
  transition: 0.3s;
  opacity: 0.7;
  font-size: 12px;
  font-family: 'Bold';
}

.container-edit button:hover {
  opacity: 1;
  transform: scale(1.05);
  cursor: pointer;
}

.edit {
  background-color: #f7b731;
}

.delete {
  background-color: #eb3b5a;
}

.container-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}


/* CREATE */


.container-create {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: auto;
  background-color: #FEFEFE;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  padding-left: 20px;
}

h2 {
  font-family: 'Bold';
  font-size: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form-group label {
  font-family: 'Bold';
  font-size: 15px;
}

.form-group input {
  margin-top: 3px;
  width: 90%;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  border: 0.5px solid black;
  font-family: 'Regular';
  font-size: 15px;
}

.form-group input:hover {
  cursor: pointer;
}


.container-create button {
  margin-top: 20px;
  width: 100px;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  background-color: #3162f7;
  border: 1px solid #FEFEFE;
  color: #FEFEFE;
  transition: 0.3s;
  opacity: 0.7;
  font-size: 15px;
  font-family: 'Bold';
  margin-bottom: 20px;
}

.container-create button:hover {
  opacity: 1;
  transform: scale(1.05);
  cursor: pointer;
}


